<meta name="google-site-verification" content="5FMa7RYkPr6QEWWr1ERvyTkIv5k9JmamL7oeGWeGo9Q" />

<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.raphiniert.com/";
    _paq.push(['setTrackerUrl', u+'schniedel.php']);
    _paq.push(['setSiteId', {$IDSITE}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'wutz/'; s.parentNode.insertBefore(g,s);
  })();
</script>